html ,body {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.main-container {
    height: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container {
    background-color: rgb(171, 171, 173);
    padding: 15px;
    border-radius: 10px;
}

.pword-label {
    display: block;
    color: black;
    padding-bottom: 7px;
    font-size: 28px;
}

.pword-field {
    width: 280px;
    font-size: 30px; 
}


