html ,body {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.main-container {
    height: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container {
    display: flex;
    flex-direction: row;
    background-color: rgb(171, 171, 173);
    padding: 15px;
    border-radius: 10px;
}

.pword-label {
    display: block;
    color: black;
    padding-bottom: 7px;
    font-size: 24px;
}

.pword-field {
    width: 225px;
    font-size: 22px; 
}

button {
   margin-left: 5px;
   font-weight: bold;
   font-size: 14px;
   /* border-radius: 4px; */
   /* border: 1px solid gray; */
}



