html ,body {
    height: 100%;
    margin: 0;
    font-family: Arial;
}

.main-container {
    height: 100%;
    background-color: rgb(233, 233, 233);
    display: flex;
    align-items: center;
    justify-content: center;
}

.sub-container {
    display: flex;
    background-color: rgb(171, 171, 173);
    padding: 15px;
    border-radius: 10px;
    height: 66px;
}

.pword-label {
    display: block;
    color: black;
    padding-bottom: 7px;
    font-size: 24px;
}

.pword-field {
    width: 225px;
    font-size: 22px; 
}

.buttons-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 2px;
    justify-content: space-between;
}

button {
    height: 100%;
    margin-left: 5px;
    font-weight: bold;
    font-size: 14px;
    outline: none;
}

.clear-btn {
   color: rgb(252, 94, 94);
}

/* .copy-btn {

} */





